.color-icon{
    width: 30px;
    height: 30px;
    margin: 3px;
    float: left;
    position: center;
    border: 2px solid black;
	border-radius: 60px;
    margin: 2px;
}

.color-icon:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.color-icon:focus {
    box-shadow: 1px 1px 1px 1px rgb(165, 165, 165);
}

#tools {
    background-color: rgb(255, 255, 255);
    padding: 'Spx';
    width: 180px;
    text-align: center;
}

.toolButton {
    background-color: transparent;
    border: 2px solid rgba(29, 29, 29, 0.288);
    border-radius: 10%;
    width: 35px;
    height: 35px;
    margin: -1px;
    text-align: center;
    padding: 2px;
}

.toolButton:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);

}

.toolButton:focus {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);

}


#top-page {
    background-color: rgba(106, 161, 243, 0.863);
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    width: 800px;
}

#top-page p {
    font-family: monospace;
    font-size: x-large;
    padding: 5px 0 0 7px;
    color: white;
}

#color-grid {
    position: relative;
    padding: 5px;
    width: 500px;
}

#header {
    background-color: whitesmoke;
    width: 800px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.canvas {
    width: 800px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: start;
    vertical-align: bottom;
}